:host {
  display: block;
  width: 100%;
  height: 100%;
}
.workflow-editor {
  width: 100%;
  height: 100%;
  user-select: none;
}
.button-bar {
  padding: 1em;

  & > button {
    margin-right: 1em;
  }
}
